.Error{
    position: fixed;
    inset: 30% 30% 40% 30%;
    margin: 0 auto;
    background-color: #121212;
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
    border-radius: 50px;
    background: #F18303 ;
    box-shadow: 5px 5px 10px #cd6f03, -5px -5px 10px #ff9703;
    z-index: 111111111111111111;
}

.Error_box h1{
    font-size: 200% ;
    font-weight: 600;
    color: #ffffff;
}

@media only screen and (max-width: 35em){
    .Error{
        inset: 10% 10% 35% 10%;
    }
}