
.Filter{
    width: 90%;
    margin: 1rem auto;
}

.Filter_box{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}


.Filter_box_left_search{
    background-color: rgba(0,0,0,0.50);;
    outline: none;
    border: solid #F18303 1px;
    padding: 1rem;
    color: #F18303;
    width: 27rem;
    display: flex;
}

.Filter_box_left_search input{
    background-color: transparent;
    outline: none;
    padding-left: 4%;
}

.Filter_box_right{
    display: flex;
    gap: 1rem;
}




.Filter_box_right button{
    background-color: rgba(0,0,0,0.50);
    outline: none;
    border:solid #F18303 1px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    display: flex;
    font-weight: 700;
    align-items: center;
    gap: .5rem;
}

.Filter_model{
    position: fixed;
    inset: 0 0 0 0;
    background-color: #121212;
    z-index: 22222222;
}

@media only screen and (max-width: 35em) {
    .Filter{
        width:90%;
    }
    .Filter_box{
        flex-direction: column;
        gap: 1rem;
    }
    .Filter_box_left_search{
        width: 100%;
    }
    .Filter_box_right button{
        font-size: .7rem;
        margin: auto;
    }
    .Filter_box_right{
        margin: 5%;
    }
    .Filter_model{
        position: absolute;
        inset: 0 0 -70% 0;
    }
}